*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Gideon Roman', cursive;
    font-family: 'Roboto', sans-serif;
}

#navbarSupportedContent{
    position: absolute;
    right: 20px;
}

@media (max-width: 992px) {
    #navbarSupportedContent{
        position: relative;
        right: -20px;
    }
}

.carousel-item img{
    width: 100%;
    height: 92vh;
}

@media (max-width: 992px) {
    .carousel-item img{
        width: 100%;
        height: 50%;
    }
}

@media (max-width: 600px) {
    .carousel-caption h5{
        font-size: 18px;
    }

    .carousel-caption p{
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .carousel-caption h5{
        font-size: 16px;
    }

    .carousel-caption p{
        font-size: 12px;
    }
}

@media (max-width: 370px) {
    .carousel-caption h5{
        font-size: 14px;
    }

    .carousel-caption p{
        font-size: 10px;
    }
}

@media (max-width: 992px) {
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0%;
    }

    .row div{
        width: 100%;
        height: 50%;
    }
}

.img-services{
    /* max-width: 100%; */
    height: 100%;
    width: 100px;
}

@media (max-width: 992px) {
    .img-services{
        width: 100%;
    }

    .col-md-4{
        padding: 0%;
    }
}

.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding-right: 0px;
}

.col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
    padding-left: 0px;
}

.row-services{
    display: flex;
    flex-direction: ro;
    width: 100%;
    /* border: 2px solid black; */
    align-items: center !important;
    justify-content: center !important;
}

.row-services-1{
    /* border: 2px solid black; */
    box-sizing: border-box;
}

@media (max-width: 992px) {
    .row-services-0{
        max-width: 100% !important;
    }
}

.section-4{
    background-color: #a6edef;
}
/* 
.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 0px;
}

.col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
    padding: 2px;
} */
/* responsive css */
/* // X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */


